.todos-container {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.title-header {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.submenu {
    background-color: #00000021 !important;
}